absl-py==0.10.0
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630042503/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blis==0.4.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1600276628150/work
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
future==0.18.2
google-auth==1.21.3
google-auth-oauthlib==0.4.1
grpcio==1.32.0
idna==2.10
importlib-metadata @ file:///D:/bld/importlib-metadata_1600910662556/work
ipykernel @ file:///D:/bld/ipykernel_1595447084845/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1598750147809/work
ipython-genutils==0.2.0
jedi @ file:///D:/bld/jedi_1595018491768/work
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe @ file:///D:/bld/markupsafe_1600368513338/work
matplotlib==3.3.2
mistune==0.8.4
murmurhash==1.0.2
nb-conda-kernels @ file:///D:/bld/nb_conda_kernels_1596524197698/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///D:/bld/nbconvert_1600870029138/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1600716022894/work
notebook @ file:///D:/bld/notebook_1599742602312/work
numpy==1.19.2
oauthlib==3.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1599988476846/work
python-dateutil==2.8.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
Send2Trash==1.5.0
sentencepiece==0.1.91
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
spacy==2.3.2
srsly==1.0.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
terminado @ file:///D:/bld/terminado_1600709990768/work
testpath==0.4.4
thinc==7.4.1
torch==1.6.0
torchtext==0.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.49.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1599471676085/work
urllib3==1.25.10
wasabi==0.8.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1600892581779/work
